<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>

<h1>User Info</h1>
<ul>
    <h2>name : {{userinfo.name}}</h2>
    <h3>gender : {{userinfo.gender}} </h3>
    <h3>age : {{userinfo.age}} </h3>
    <h3>phone : {{userinfo.phone}} </h3>
    <h3>email : {{userinfo.email}} </h3>
    <h3>address : {{userinfo.address}} </h3>
    <h3>about : {{userinfo.about}} </h3>
    <h3>registered : {{userinfo.registered}} </h3>
    <h3>friends : {{#each userinfo.friends as |friend|}}
        <li>&nbsp;&nbsp;&nbsp;{{friend.name}}</li>
    {{/each}}
    <h2>balance : {{userinfo.balance}} </h2>

</ul>

</body>
</html>
